lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

android/facebook/gen
android/facebook/bin

local.properties


*.iml
android/facebook/gradle
android/facebook/local.properties

android/facebook/idea
.DS_Store
android/facebook/DS_Store
android/facebook/facebook/build
!android/facebook/facebook/build/outputs/aar/facebook-debug.aar
!android/facebook/facebook/build/outputs/aar/facebook-release.aar



