lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

local.properties


*.iml
android/facebook/.gradle
android/facebook/local.properties
android/facebook/.idea
android/facebook/build/android-profile
android/freshchat_sdk/captures

android/facebook/.idea
.DS_Store
android/facebook/DS_Store

!android/facebook/facebook/build
android/facebook/facebook/build/*
!android/facebook/facebook/build/outputs
android/facebook/facebook/build/outputs/*
!android/facebook/facebook/build/outputs/aar/

android/facebook/build/android-profile


