lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

local.properties

# Gradle
.gradle


# Intellij project files
*.iml
*.ipr
*.iws
.idea/

android/FacebookSDK400/.gradle
android/FacebookSDK400/local.properties
android/FacebookSDK400/.idea
android/FacebookSDK400/.idea/
android/FacebookSDK400/build/android-profile
android/FacebookSDK400/captures

.DS_Store
android/FacebookSDK400/DS_Store

!/android/FacebookSDK400/facebook/build
/android/FacebookSDK400/facebook/build/*
!/android/FacebookSDK400/facebook/build/outputs
/android/FacebookSDK400/facebook/build/outputs/*
!/android/FacebookSDK400/facebook/build/outputs/aar

android/FacebookSDK400/build/android-profile

#For Facebook SDK 4.3+ versions
android/FacebookSDK400/facebook-commond/build
android/FacebookSDK400/facebook-core/build
android/FacebookSDK400/facebook-share/build

# Buck
BUCK*
.buckconfig
.buckversion
keystores/
/buck-cache/
/buck-out/
/.buckconfig.local
/.buckd
/.nobuckcheck
/.bucktestselectors

# vim temp files
*.swp

*~
*.DS_Store
*java#
*.settings
out/

android/FacebookSDK400/facebook/doc/
android/FacebookSDK400/facebook/tests/lint.xml
android/FacebookSDK400/facebook/src/androidTest/assets/config.json
android/FacebookSDK400/gradle-app.setting


